<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <h3>Upload and View !!</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">


            <div>
                <label>File name</label>
                <input 
                type="text"
                formControlName="name"
                class="form-control">
                
            </div>


            <div>
              <br>
              <label>Upload any file here(image/pdf):</label>
          
        <input type='file' (change)="onSelectFile($event)"
        formControlName="url"
        >
            </div>
           
            <br>
            <br>
            <div>
            <button class="btn btn-success" type="submit">View</button>|
            <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
            </div>
            
            
            <hr>
        </form>
        



        <div *ngIf="status" >
          <h2>{{name1}}</h2>
          <div class="pdf-container">
            <pdf-viewer class="pdf-viewer" [src]="url1"
                        [original-size]="false"
            ></pdf-viewer> 
          </div>
          <img [src]="url1" height="200"> <br/>
          
          <br>
          <br>
          


          
          

          


        
        
      </div>
        
      </div>
    </div>